<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".EmpegApplication"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.EmpegRemote"
        tools:targetApi="24">
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".PhoneMain"-->
<!--            android:label="@string/app_name"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/ShortenActionbar"></activity>-->
<!--        <activity-->
<!--            android:name=".TabletMain"-->
<!--            android:label="@string/app_name"-->
<!--            android:screenOrientation="landscape"></activity>-->
<!--        <activity-->
<!--            android:name=".WidgetShowcase"-->
<!--            android:label="Empeg widgets"-->
<!--            android:screenOrientation="portrait"></activity>-->
<!--        <activity-->
<!--            android:name=".Settings"-->
<!--            android:label="Settings"></activity>-->
<!--        <activity-->
<!--            android:name=".AddEmpeg"-->
<!--            android:icon="@drawable/player"-->
<!--            android:label="Choose player"></activity>-->
<!--        <activity-->
<!--            android:name=".LicensePopUp"-->
<!--            android:icon="@drawable/player"-->
<!--            android:label="Invalid License"-->
<!--            android:theme="@android:style/Theme.Dialog"></activity>-->

<!--        <service android:name=".NotificationService" />-->

<!--        <receiver android:name=".NotificationService$NotifButtonListener" />-->
    </application>

</manifest>